# Ex1 - Filtering and Sorting Data

## 2025-06-14 복습 필요 - TypeError: 'float' object is not subscriptable

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep = '\t')

### Step 4. How many products cost more than $10.00?

In [3]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
chipo['quantity'].dtype

dtype('int64')

In [5]:
print(chipo.item_price.head(10))

0     $2.39
1     $3.39
2     $3.39
3     $2.39
4    $16.98
5    $10.98
6     $1.69
7    $11.75
8     $9.25
9     $9.25
Name: item_price, dtype: object

In [6]:
chipo['item_price'] = chipo['item_price'].astype(str).str.replace('$', '').astype(float)

In [7]:
# quantity 타입 확인 및 변환
print("quantity 타입:", chipo['quantity'].dtype)
chipo['quantity'] = chipo['quantity'].astype(int)

# 중복 제거 (컬럼명 확인 필요)
print("컬럼명 확인:", chipo.columns.tolist())
chipo_filtered = chipo.drop_duplicates(['item_name', 'quantity', 'choice_description'])

# 수량이 1인 상품만 필터링
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

# 결과 확인
print(f"가격이 10달러 이상인 상품 종류 수: {chipo_one_prod[chipo_one_prod['item_price'] > 10].item_name.nunique()}")
print(chipo_one_prod[chipo_one_prod['item_price'] > 10])

quantity 타입: int64
컬럼명 확인: ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']
가격이 10달러 이상인 상품 종류 수: 25
      order_id  quantity        item_name  \
5            3         1     Chicken Bowl
7            4         1    Steak Burrito
13           7         1     Chicken Bowl
23          12         1  Chicken Burrito
39          19         1    Barbacoa Bowl
...        ...       ...              ...
4593      1825         1    Carnitas Bowl
4594      1825         1    Barbacoa Bowl
4607      1829         1    Steak Burrito
4610      1830         1    Steak Burrito
4611      1830         1   Veggie Burrito

                                     choice_description  item_price
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...       10.98
39    [Roasted Chili Corn Salsa, [Fajita Vegetables,...       11.75
...                                                 ...         ...
4593  [Roasted Chili Corn Salsa, [Rice, Sour Cream, ...       11.75
4594  [Roasted Chili Corn Salsa, [Pinto Beans, Sour ...       11.75
4607  [Tomatillo Green Chili Salsa, [Rice, Cheese, S...       11.75
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...       11.25

[685 rows x 5 columns]

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [8]:
chipo_filtered = chipo.drop_duplicates(['item_name', 'quantity'])
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75

### Step 6. Sort by the name of the item

In [9]:
chipo.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [10]:
chipo.sort_values(by = 'item_price', ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [11]:
chipo_salad = chipo[chipo.item_name == 'Veggie Salad Bowl']
len(chipo_salad)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [12]:
chipo_canned_soda_any = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity >= 1)]
print(f"1개 이상 주문한 횟수: {len(chipo_canned_soda_any)}")

1개 이상 주문한 횟수: 104